<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="navbar">
  <a href="/bullets"><img class="" src="https://cdn.shopify.com/s/files/1/0882/3478/files/BuJo_Logo_410x.png?v=1529973591" id="brand-img" width="170" height="45"></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-success" href="/bullets">All bullets</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link text-success" href="/bullets/new">New <span class="sr-only">(current)</span></a>
      </li>  
    </ul>
    
    <form class="form-inline my-2 my-lg-0" method="post" action="/users/logout">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
<img src="" alt="">