
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">

  <div class="sidebar-sticky pt-4">
    <ul class="nav flex-column">
      

      <li class="nav-item">
        <a class="nav-link " href="#Enero" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Enero<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Enero">
          <ul>
            <li><a href="/bullets/1/">Monthly Log</a></li>
            <li><a href="/bullets/1/weekly">Weekly Log</a></li>
            <li><a href="/bullets/1/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Febrero" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Febrero<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Febrero">
          <ul>
            <li><a href="/bullets/2/">Monthly Log</a></li>
            <li><a href="/bullets/2/weekly">Weekly Log</a></li>
            <li><a href="/bullets/2/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Marzo" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Marzo<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Marzo">
          <ul>
            <li><a href="/bullets/3/">Monthly Log</a></li>
            <li><a href="/bullets/3/weekly">Weekly Log</a></li>
            <li><a href="/bullets/3/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Abril" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Abril<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Abril">
          <ul>
            <li><a href="/bullets/4/">Monthly Log</a></li>
            <li><a href="/bullets/4/weekly">Weekly Log</a></li>
            <li><a href="/bullets/4/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Mayo" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Mayo<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Mayo">
          <ul>
            <li><a href="/bullets/5/">Monthly Log</a></li>
            <li><a href="/bullets/5/weekly">Weekly Log</a></li>
            <li><a href="/bullets/5/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Junio" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Junio<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Junio">
          <ul>
            <li><a href="/bullets/6/">Monthly Log</a></li>
            <li><a href="/bullets/6/weekly">Weekly Log</a></li>
            <li><a href="/bullets/6/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Julio" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Julio<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Julio">
          <ul>
            <li><a href="/bullets/7/">Monthly Log</a></li>
            <li><a href="/bullets/7/weekly">Weekly Log</a></li>
            <li><a href="/bullets/7/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Agosto" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Agosto<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Agosto">
          <ul>
            <li><a href="/bullets/8/">Monthly Log</a></li>
            <li><a href="/bullets/8/weekly">Weekly Log</a></li>
            <li><a href="/bullets/8/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Septiembre" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Septiembre<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Septiembre">
          <ul>
            <li><a href="/bullets/9/">Monthly Log</a></li>
            <li><a href="/bullets/9/weekly">Weekly Log</a></li>
            <li><a href="/bullets/9/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Octubre" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Octubre<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Octubre">
          <ul>
            <li><a href="/bullets/10/">Monthly Log</a></li>
            <li><a href="/bullets/10/weekly">Weekly Log</a></li>
            <li><a href="/bullets/10/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Noviembre" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Noviembre<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Noviembre">
          <ul>
            <li><a href="/bullets/11/">Monthly Log</a></li>
            <li><a href="/bullets/11/weekly">Weekly Log</a></li>
            <li><a href="/bullets/11/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link " href="#Diciembre" data-toggle="collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
        Diciembre<span class="sr-only">(current)</span>
        </a>
        <div class="collapse multi-collapse" id="Diciembre">
          <ul>
            <li><a href="/bullets/12/">Monthly Log</a></li>
            <li><a href="/bullets/12/weekly">Weekly Log</a></li>
            <li><a href="/bullets/12/daily">Daily Log</a></li>
            <li><a href="#">Habit Tracker</a></li>
          </ul>
        </div>
      </li>

    
    </ul>
  </div>
</nav>
