<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Bullet Journal</h1>
    <p>Join us.. and get done all your projects!</p>
  </div>

<section class="featured-link--section featured-link--image section-13">
  <div class="featured-link--half featured-link--image ">
    <div class="featured-link--wrap"> <a title="Putting it together"> 
      <img style="float: right"
          src="//cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1400x.png?v=1533306423"
          alt="Bullet Journal Daily Log" class="full-width-image blur-up lazyautosizes lazyloaded" data-sizes="auto"
          data-src="//cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1400x.png?v=1533306423"
          data-srcset=" //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_2048x.png?v=1533306423 2048w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1600x.png?v=1533306423 1600w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1200x.png?v=1533306423 1200w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1000x.png?v=1533306423 1000w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_800x.png?v=1533306423 800w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_600x.png?v=1533306423 600w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_400x.png?v=1533306423 400w"
          sizes="713px"
          srcset=" //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_2048x.png?v=1533306423 2048w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1600x.png?v=1533306423 1600w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1200x.png?v=1533306423 1200w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_1000x.png?v=1533306423 1000w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_800x.png?v=1533306423 800w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_600x.png?v=1533306423 600w,
                                        //cdn.shopify.com/s/files/1/0882/3478/files/Daily_Log_bbfd1c78-8658-4280-b350-edb824ecac16_400x.png?v=1533306423 400w"></a>
    </div>
  </div>
  <div class="featured-link--half">
    <div class="info text-align--left"> <a class="collection_title">
        Putting it together</a>
      <div class="description">
        <p>Start&nbsp;by giving&nbsp;your page a short descriptive <strong>Topic</strong>. This clarifies the purpose of
          the page&nbsp;and nature of its contents. In this example, it's simply the day's date.</p>
        <p></p>
        <p>Once that’s done, be sure to <strong>number the page</strong>. Page numbers will serve&nbsp;to locate your
          content.&nbsp;</p>
        <p></p>
        <p>This&nbsp;example&nbsp;is known as the <strong>Daily Log.</strong>&nbsp;It's the workhorse of the Bullet
          Journal, and one of the four&nbsp;main <strong>Collections.</strong></p>
      </div>
    </div>
  </div>
</section>

</div>