  <div class="d-sm-flex justify-content-center">

    <form class="form-signin" style="max-width: 420px; margin-top: 55px" action="/login" method="post">
      
      <div class="text-center mb-4">
          <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0882/3478/files/BuJo_Logo_410x.png?v=1529973591" alt="" width="300" height="90">
          <p>Login page, Let's check your Bullet's</p>
          <hr>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" value="jb" autofocus>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" value="1234" id="exampleInputPassword1" name="password">
      </div>
      
      <button type="submit" class="btn btn-primary">Login</button>

    </form>

  </div>
  
