  <div class="d-sm-flex justify-content-center">
    
    <form class="form-signin" style="max-width: 420px; margin-top: 55px" action="/signup" method="post">
      
      <div class="text-center mb-4">
          <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0882/3478/files/BuJo_Logo_410x.png?v=1529973591" alt="" width="300" height="90">
          <p>SignUp page, Join to the Bullet Team!</p>
          <hr>
      </div>
      
      <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" >
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" >
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
   
    </form>
  </div>
  
